.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.locations,
.amenities {
    position: relative;
}

.popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: calc(100% - 2px);
    padding: 0;
    list-style: none;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover ul {
    padding: 0;
    margin: 0;
}

.popover li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.popover h2 {
    font-size: 16px;
}